.Homepage {
    position: relative;
    background-position: center;
    text-align: left;
}

.Homeindex {
    position: relative;
    background-position: center;
    text-align: center;
    font-size: 150%;
}

.index-search {
    position: relative;
    text-align: center;
}

.port-username {
    position: relative;
    text-align: left;
    margin: 2px;
}

.index-search {
    position: relative;
    text-align: center;
    margin: 10px;
}